In [3]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('sh_0415_time/sh_0415_time.csv')

# Display column names
print("Columns in the dataset:")
print(df.columns.tolist())

# Display data types and non-null counts
print("\nData types and non-null counts:")
print(df.info())

Columns in the dataset:
['name', 'summary', 'url', 'image_url', 'is_bt', 'bt_source', 'author_clean', 'author_num_books', 'author_num_followers', 'cred_score', 'author_bio', 'genres', 'problem_sentence', 'keywords', 'star_rating', 'num_ratings', 'num_reviews', 'historical_context', 'publication_reason', 'currently_reading', 'want_to_read', 'kindle_price_clean', 'spectrum_clean', 'methodology_clean', 'tone_clean', 'style_clean', 'key_cat_primary', 'key_cat_primary_agg', 'problem_origin', 'audience_cat', 'problem_cat', 'solution_cat', 'first_published', 'year_published_numeric', 'year_bin_5yr', 'year_bin_10yr']

Data types and non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22784 entries, 0 to 22783
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    22784 non-null  object
 1   summary                 22784 non-null  object
 2   url                     22784 non-null  object
 3   image_url               2336 non-null   object
 4   is_bt                   9 non-null      object
 5   bt_source               9 non-null      object
 6   author_clean            22784 non-null  object
 7   author_num_books        2338 non-null   float64
 8   author_num_followers    2323 non-null   float64
 9   cred_score              1777 non-null   object
 10  author_bio              1663 non-null   object
 11  genres                  22784 non-null  object
 12  problem_sentence        2338 non-null   object
 13  keywords                2338 non-null   object
 14  star_rating             22784 non-null  float64
 15  num_ratings             22784 non-null  float64
 16  num_reviews             22761 non-null  float64
 17  historical_context      2338 non-null   object
 18  publication_reason      2121 non-null   object
 19  currently_reading       2333 non-null   float64
 20  want_to_read            2333 non-null   float64
 21  kindle_price_clean      18376 non-null  float64
 22  spectrum_clean          22784 non-null  object
 23  methodology_clean       22784 non-null  object
 24  tone_clean              22784 non-null  object
 25  style_clean             22784 non-null  object
 26  key_cat_primary         22784 non-null  object
 27  key_cat_primary_agg     22784 non-null  object
 28  problem_origin          22784 non-null  object
 29  audience_cat            22415 non-null  object
 30  problem_cat             22415 non-null  object
 31  solution_cat            22415 non-null  object
 32  first_published         22784 non-null  object
 33  year_published_numeric  22784 non-null  float64
 34  year_bin_5yr            22784 non-null  object
 35  year_bin_10yr           22784 non-null  object
dtypes: float64(9), object(27)
memory usage: 6.3+ MB
None

/var/folders/pc/j_zmpc9s0g9frv2jzfv1l51c0000gn/T/ipykernel_41968/3425879012.py:4: DtypeWarning: Columns (3,4,5,9,10,12,13,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('sh_0415_time/sh_0415_time.csv')